// Colors
$grey: #dddddd;
$brand-color : #5b4681;
$light-grey: #f9f9f9;
$dark-grey: #777777;

// Spacing
$space: 1.4rem;

// Font-sizes
$base-font-size : 1.6rem;
$large-font-size: 1.8rem;

// Form inputs
$input-border: $grey;
$input-spacing: 0.5rem;

// Boxed-view components
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

// Button
$button-background-color: $brand-color;
$button-color: white;
$button-pill-color: $brand-color;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Title-bar
$title-bar-bg : $brand-color;
$site-max-width: 50rem;

// Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;