.title-bar{
    background: $title-bar-bg;
    color: white;
}

.title-bar__content{
    display: flex;
    max-width: $site-max-width;
    margin: 0 auto;
    justify-content: space-between;
    padding: $space;

}

.title-bar__title{
    margin: 0;
}

